.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	margin: 48px;
	max-width: 1184px;
    gap: 16px;
}


@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 24px;
}
}


@media screen and (max-width: 320px) {
  .photo-grid {
    margin: auto 16px;
}
}
