.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    max-width: 1184px;
    margin: auto 48px;
    gap: 16px;
}

@media screen and (max-width: 2560px) {
    .photo-grid {
        margin: auto;
    }
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        margin: 24px 48px;
    }
}

@media screen and (max-width: 875px) {
    .photo-grid {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 600px) {
    .photo-grid {
        max-width: 450px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        margin: auto 16px;
    }
}