.places {
  color: #FFFFFF;
}


@media screen and (max-width: 425px) {
	.place {
      grid-template-columns: 1fr;
	}
}


	@media screen and (max-width: 320px) {
	.place {
      grid-template-columns: 1fr;
	}
}