.place__title {
    display: grid;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    margin-left: 140px;
    width: 460px;
    max-height: 152px;
    max-width: 984px;
    margin: 80px auto 8px;
}


@media screen and (max-width: 1024px) {
    .place__title {
       width: 440px;
       font-size: 72px;
       line-height: 76px;
}
}


@media screen and (max-width: 768px) {
    .place__title {
       width: 340px;
       font-size: 42px;
       line-height: 46px;
}
}

@media screen and (max-width: 320px) {
    .place__title {
       max-width: 288px;
       font-size: 32px;
       line-height: 35px;
       margin: 64px 0 0;
}
}