.place__url-adress {
    margin: 0 0 12px;
    font-family: "Inter", "Arial", sans-serif;
    align-self: end;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.4px;
    letter-spacing: 0.2em;
    text-align: left;
    color: #aaaaaa;
}

@media screen and (max-width: 320px) {
    .place__url-adress {
        max-width: 288px;
        line-height: 12px;
    }
}