.footer__copyright {
    padding-right: 24px;
    flex-direction: row;
    align-self: flex-end;
    text-align: end;
    margin-top: 0;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        padding: 0;
        align-self: flex-start;
        margin-left: 16px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        padding: 0;
        align-self: flex-start;
        margin-left: 16px;
    }
}
