.intro {
    margin-left: 148px;
    margin-top: 0;
    max-width: 690px;
    padding-bottom: 44px;
}

@media screen and (max-width: 2560px) {
    .intro {
        margin-left: 230px;
        max-width: 1000px;
        padding-bottom: 92px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1440px) {
    .intro {
        margin-left: 230px;
    }
}
@media screen and (max-width: 1280px) {
    .intro {
        margin-left: 148px;
        padding-bottom: 92px;
    }
}
@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        margin: auto 24px;
        margin-right: 24px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        margin: auto 16px;
        padding-bottom: 64px;
    }
}