.lead__subtitle {
  width: 640px;
  height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto 0;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 1024px) {
	.lead__subtitle {
		max-width: 400px;
		font-size: 30px;
		line-height: 36px;
		margin: 32px auto 56px;
	}
}


@media screen and (max-width: 768px) {
	.lead__subtitle {
		max-width: 540px;
		font-size: 30px;
		line-height: 36px;
	}
}

@media screen and (max-width: 425px) {
	.lead__subtitle {
		max-width: 288px;
		font-size: 16px;
		line-height: 20px;
	}
}
@media screen and (max-width: 320px) {
	.lead__subtitle {
		max-width: 288px;
		font-size: 16px;
		line-height: 20px;
		margin: 16px 16px 40px 16px;
        max-height: 40px;
	}
}