.footer__list {
    font-family: Inter;
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 2560px) {
    .footer__list {
        min-width: 513px;
    }
}

@media screen and (max-width: 650px) {
    .footer__list {
        flex-direction: column;
        justify-content: space-between;
        min-width: 360px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 500px) {
    .footer__list {
        min-width: 158px;
        min-height: 224px;
        padding-left: 16px;
    }
}