.footer {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
	.footer {
	  flex-direction: column;
	}
}
@media screen and (max-width: 768px) {
	.footer {
      max-width: 768px;
      margin: 0 auto;
     justify-content: space-between;
    }
}

@media screen and (max-width: 425px) {
	.footer {
	  flex-direction: column;
	  max-width: 425px;
	}
}