.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
     max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        justify-content: space-between;
    }
}
@media screen and (max-width: 425px) {
    .footer {
        flex-direction: column;
        max-width: 246px;
    }
}
@media screen and (max-width: 320px) {
    .footer {
        max-width: 186px;
        margin: auto 16px;
    }
}